body {
  background:#0b0b0b;
  color:white;
  font-family:Inter,Arial;
}

nav {
  display:flex;
  gap:15px;
  background:#111;
  padding:15px;
}

nav a {
  color:#fff;
  text-decoration:none;
}

.container {
  padding:20px;
}

.post {
  background:#1a1a1a;
  padding:15px;
  border-radius:10px;
  margin-bottom:10px;
}

textarea,input,button {
  width:100%;
  padding:12px;
  margin-top:10px;
  background:#222;
  color:white;
  border:none;
  border-radius:6px;
}

button {
  background:#ff0050;
  cursor:pointer;
}
