body {
    font-family: Arial;
    background: #0f0f0f;
    color: white;
    margin: 0;
}

nav {
    background: #111;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.center {
    text-align: center;
    margin-top: 100px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

textarea {
    height: 100px;
}

.grid a {
    display: block;
    background: #222;
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    color: white;
}
