.platform-card {
    @apply bg-gray-900 border-4 rounded-2xl p-8 shadow-2xl text-center transition transform hover:shadow-3xl;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
